.message{
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    justify-content: space-between;
    margin: 15px;
}

.message__content{
    background-color: rgba(193, 170, 170, 0.911);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    margin-right: auto;
   
}

.message > div > p{
    color: black;
    font-weight: bolder;
}

.message > div > small{
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 8px;
    right: 0;
    bottom: -10px;
}
.message__sender{
    margin-left: auto;
}
.message__sender > .message__content{
    background-color: rgba(238, 105, 57, 0.891);
}
.message__sender> .message__photo{
    order: 1;
    margin: 15px;
}

