.thread{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
}
.thread__header{
    display: flex;
    border-bottom: 1px solid rgba(190, 190, 190, .1);
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.thread__header__contents{
    display: flex;
    flex-direction: row;
    align-content: center;
    color: white;
    padding: 5px;
    
    
}
.thread__header__contents__info > h5{
    font-weight: 500;
    color: rgb(189, 183, 183);
    margin-left: 5px;
}

.thread__header__details{
    color: white;
    
}
.thread__header__details:hover{
    color: rgba(1, 150, 199);
}

.thread__messages{
    flex:1;
    overflow: scroll;
    font-size: x-small;
    /* background-image: url(https://i.pinimg.com/originals/3a/26/ab/3a26ab1ed14cc32e4a2ee1d740d385b0.jpg); */
    background-image: url(https://images.unsplash.com/photo-1565033817241-00be28ad9119?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);
}
.thread__messages::-webkit-scrollbar{
    display:none;
}

.thread__input{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    border-top: 1px solid rgba(190, 190, 190, .1);
    
}

.thread__input > form{
    display: flex;
    flex: 1;
    flex-direction: row;
}
.thread__input > form >input{
    width: 98;
    outline-width: 0;
    border: none;
    border-radius: 1px;
    background-color: transparent;
    padding: 5px;
    color: white;
    justify-content: space-between;
}

.thread__input > form > button{
    color: white;
    background-color: transparent;
    
}

.thread__input > form >button:hover{
    color: rgba(1, 150, 199);
}
.thread__header__contents__info__seen{
    font-size: xx-small;
}
#thread__header{
    margin-left: 5px;
}